.cours-mainDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title-div {
  text-align: center;
  margin-bottom: 20px;
}
.rst-btn {
  width: 200px;
  padding: 10px;
  border: 2px solid lightblue;
  border-radius: 30px;
  background-color: antiquewhite;
  color: brown;
  font-size: 20px;
  font-family: fantasy;
}
.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.card-div {
  width: 350px;
  border: 2px solid lightcoral;
  border-radius: 30px;
  padding: 20px;
}
.prevNextBtn {
  border: none;
  background-color: white;
  font-size: 20px;
  color: red;
}
.card-price {
  font-style: italic;
  color: red;
}
.card-deleteBtn {
  width: 100px;
  padding: 10px;
  border: 2px solid lightblue;
  border-radius: 30px;
  background-color: antiquewhite;
  color: brown;
  font-size: 20px;
  font-family: fantasy;
}
.refleshDiv {
  text-align: center;
  border: 2px solid lightgreen;
  border-radius: 20px;
  padding: 20px;
}
